{% extends 'base.html.twig' %}

{% block body %}

	<h1>Bazy mailingowe</h1>
	<p class="page-menu">
		<a href="{{ url("import_index") }}"><button class="ok">Zaimportuj plik XML</button></a>
	</p>

	<table>
		<thead>
			<tr>
				<th style="width: 25%;">Nazwa</th>
				<th style="width: 10%;">Ilość leadów</th>
				<th style="width: 20%;">Data importu</th>
				<th style="width: 25%;">Akcje</th>
			</tr>
		</thead>
		{% for item in mailbase %}
			<tr>
				<td><a href="{{ url("mailbase_show", {"id": item.id }) }}" title="{{ item.description }}">{{ item.name }}</a></td>
				<td class="text-center">{{ item.getLeads()|length }}</td>
				<td class="text-center">{{ item.dateOfImport | date("Y-m-d G:i:s") }}</td>
				<td class="text-center">
					{% if item.stage == "finish" %}
						<a href="{{ url("mailbase_show", {"id": item.id }) }}"><button class="ok m-off">Podgląd</button></a>
						{% if item.type == "normal" %}
							<a href="{{ url("import_test_create", {"id": item.id }) }}"><button class="ok m-off">Stwórz bazę testową</button></a>
						{% endif %}
						<a href="{{ url("import_edit", {"id": item.id }) }}"><button class="ok m-off">Edytuj</button></a>

						{% if deleteForms[item.id] != "none" %}
							{{ form_start(deleteForms[item.id], {"attr": {"class": "deleteForm"}}) }}
								{{ form_widget(deleteForms[item.id].submit, {"attr": {"class": "ok ok-red m-off", "title": "Archiwizując bazę główną, automatycznie usuniesz wszystkie bazy testowe"}}) }}
								{{ form_rest(deleteForms[item.id]) }}
							{{ form_end(deleteForms[item.id]) }}
						{% endif %}
					{% else %}
						<a href="{{ url("import_stage2", {"id": item.id }) }}"><button class="ok m-off">Zakończ import</button></a>
					{% endif %}
				</td>
			</tr>
		{% else %}
			<tr>
				<td>Nic nie znaleziono.</td>
			</tr>
		{% endfor %}
	</table>

	<h1>Zarchiwizowane bazy mailingowe</h1>

	<table>
		<thead>
			<tr>
				<th style="width: 25%;">Nazwa</th>
				<th style="width: 10%;">Ilość leadów</th>
				<th style="width: 20%;">Data importu</th>
				<th style="width: 25%;">Akcje</th>
			</tr>
		</thead>
		{% for item in mailbase_archived %}
			<tr>
				<td><a href="{{ url("mailbase_show", {"id": item.id }) }}" title="{{ item.description }}">{{ item.name }}</a></td>
				<td class="text-center">{{ item.getLeads()|length }}</td>
				<td class="text-center">{{ item.dateOfImport | date("Y-m-d G:i:s") }}</td>
				<td class="text-center">
					<a href="{{ url("import_unarchive", {"id": item.id }) }}"><button class="ok m-off">Przywróć</button></a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td>Nic nie znaleziono.</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}
