{% extends 'base.html.twig' %}

{% block body %}

	<h1>Baza mailingowa - {{ leadImportName }}</h1>
	{#
	<p class="page-menu">
		<a href="{{ url("lead_add", {"id": leadImportId }) }}"><button class="ok">Dodaj Lead'a</button></a>
	</p>
	#}

	{% if labels is defined and labels != "" %}

		<table>
			<thead>
				<tr>
					{% for label in labels %}
						<th style="width: 25%;">{{ label.name }}</th>
					{% endfor %}
					<th style="width: 25%;">Akcje</th>
				</tr>
			</thead>
			<tbody>
				{% for item in leads %}
					<tr>
							{% for label in labels %}
								{% if item.labels[label.label] is defined %}
									<td>{{ item.labels[label.label] }}</td>
								{% else %}
									<td></td>
								{% endif %}
							{% endfor %}

						<td class="text-center">
							{% if leadImportType == "test" %}
								<a href="{{ url("lead_edit", {"id": leadImportId, "lead": item.id }) }}"><button class="ok m-off">Edytuj</button></a>
							{% endif %}

							{{ form_start(deleteForms[item.id], {"attr": {"class": "deleteForm"}}) }}
								{{ form_widget(deleteForms[item.id].submit, {"attr": {"class": "ok ok-red m-off"}}) }}
								{{ form_rest(deleteForms[item.id]) }}
							{{ form_end(deleteForms[item.id]) }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td>Nic nie znaleziono.</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{% else %}
		Uzupełnij Etykiety dla Bazy Mailingowej!
	{% endif %}

{% endblock %}
