<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}GoBot{% endblock %}</title>
        {% block stylesheets %}
            {# DateTimePicker #}
            <link rel="stylesheet" href="{{ asset("javascripts/bootstrap-datetimepicker/css/bootstrap-combined.min.css") }}">
            <link rel="stylesheet" href="{{ asset("javascripts/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css") }}">
            {# Own Styles #}
            <link rel="stylesheet" href="{{ asset("styles/style.css") }}" />
            <link rel="stylesheet" href="{{ asset("styles/jquery-ui.css") }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% if not is_granted("ROLE_USER") %}body-ccc{% endif %}">

        <div class="container">
            {% for message in app.flashes("success") %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}

            {% for message in app.flashes("error") %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        </div>

        {% if is_granted("ROLE_USER") %}
            {% include("topMenu.html.twig") %}
        {% endif %}

        {% if is_granted("ROLE_USER") %}
            <div class="main-content">
                {% include("panelBase.html.twig") %}

                <main class="main">
                    <div class="content-box">
        {% endif %}

                        {% block body %}{% endblock %}

        {% if is_granted("ROLE_USER") %}
                    </div>
                </main>
            </div>
        {% endif %}

        <footer>
            <div class="footer-text">
                <div class="footer-text-left">
                    Panel administracyjny Gobot.pl
                </div>
                <div class="footer-text-right">
                    © 2018
                </div>
            </div>
        </footer>

        {% block javascripts %}
            <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('javascripts/bootstrap-datetimepicker/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('javascripts/jquery-ui.js') }}"></script>
            {# DateTimePicker #}
            <script src="{{ asset('javascripts/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
            <script src="{{ asset('javascripts/bootstrap-datetimepicker/js/bootstrap-datetimepicker.pl-PL.js') }}"></script>
            {# TinyMCE #}
            <script src="{{ asset('javascripts/tinymce/tinymce.min.js?apiKey=hoxlr2alifa02vkh6jh4dwjn80ztnv9owok1a9m4hx9eq2zg') }}"></script>
            {# Own Scritps #}
            <script src="{{ asset('javascripts/scripts.js') }}"></script>
        {% endblock %}

    </body>
</html>
