<aside>
    <div class="user">
        <div class="user-avatar">
            <img src="{{ asset('images/avatar.png') }}" alt="">
        </div>

        <div class="user-name">
            {# {% if app.user.name is empty and app.user.lastName is empty %} #}
            {% if app.user.name is empty %}
                {{ app.user.username }}
            {% else %}
                {{ app.user.getFullName() }}
            {% endif %}
        </div>
        <div class="companyName">
            {{ app.user.companyName }}
        </div>
        <div class="user-position">
            {% if is_granted("ROLE_ADMIN") %}
                Administrator
            {% elseif is_granted("ROLE_CLIENT") %}
                Klient
            {% elseif is_granted("ROLE_USER") %}
                {% if app.user.typeUser == 'agent' %}
                    Agent
                {% elseif app.user.typeUser == 'kp' %}
                    Kierownik Projektu
                {% else %}
                    Brak
                {% endif %}
            {% endif %}
        </div>

        <div class="user-last-login">
            <span class="user-last-login-txt">Ostatnie logowanie</span>
            <span class="user-last-login-time">{{ app.user.lastLogin | date("Y-m-d G:i:s")}}</span>
        </div>

        <a href="{{ url("fos_user_security_logout") }}" class="user-logout">Wyloguj</a>

    </div>
    <ul class="aside-menu" style="height: 357px;">

        {# admin #}
        {% if is_granted("ROLE_ADMIN") %}
            <li><a href="{{ url("admin_users") }}">Lista Klientów</a></li>
            <li><a href="{{ url("fos_user_registration_register") }}">Dodaj Klienta</a></li>
            <li><a href="{{ url("admin_clientsusers") }}">Aktywacja odpisywania na wiadomości</a></li>
        {% endif %}
        {# klient i kp z wyjątkami #}
        {% if not is_granted("ROLE_ADMIN") and is_granted("ROLE_CLIENT") or is_granted("ROLE_USER") and app.user.typeUser == 'kp' %}
            <li><a href="{{ url("mailbase_index") }}">Baza mailingowa</a></li>
            <li><a href="{{ url("campaign_index") }}">Kampanie</a></li>
            <li><a href="{{ url("client_users") }}">Użytkownicy</a></li>
            {% if is_granted("ROLE_CLIENT") %}
                <li><a href="{{ url("client_settings_index") }}">Ustawienia Klienta</a></li>
            {% endif %}

            <li><a href="{{ url("messages_campaigns_index") }}">Wiadomości</a></li>
            <li><a href="{{ url("client_settings_companyfooter") }}">Stopka firmowa</a></li>
        {% endif %}
        {# użytkownik #}
        {% if is_granted("ROLE_USER") %}
            {# użytkownik - agent #}
            {% if app.user.typeUser == 'agent' %}
                <li><a href="{{ url("messages_campaigns_index") }}">Odpisz na wiadomości</a></li>
            {% endif %}
        {% endif %}
    </ul>
</aside>
