<header>
    <div class="open-menu-box">
        <a href="#" class="open-menu"><img src="{{ asset('images/hamburger.png') }}" alt="Strona główna"></a>
    </div>
    <div class="header-right">
        <div class="logo-box">
            <a href="/" class="logo"><img src="{{ asset('images/gobot_logo_color.png') }}" alt="Strona główna"></a>
        </div>
    </div>
</header>
