* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #00eb98;
}

body {
	font-family: 'Lato', sans-serif;
	display: flex;
	height: 100vh;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.body-ccc {
	background: #ccc;
}
.main-content {
	width: 100%;
	display: flex;
	flex-shrink: 0;
	flex-grow: 1;
}

/** HEADER **/

.container {
	width: 100%;
	padding: 0 20px;
	box-sizing:border-box;
}

header {
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #e8e8e8;
	flex-shrink: 0;
	display: flex;
}
.logo-login {
	max-width: 300px;
	margin: 0 0 10px 0;
}
.logo-login__img {
	width: 100%;
	float: left;
}
.open-menu-box {
    min-width: 200px;
    background: #f7f7f7;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-right: 1px solid #e8e8e8;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 69px;
}

.open-menu {
	display: block;
	max-height: 40px;
	max-width: 40px;
}

.open-menu img {
	width: 100%;
	float: left;
}
.header-right {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.logo-box {
	padding: 0 20px;
	background: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-right: 1px solid #e8e8e8;
    margin-left: 200px;
    flex-shrink: 0;
}
.logo {
	display: block;
	max-height: 40px;
	max-width: 140px;
}
.logo img {
	width: 100%;
	float: left;
}
.session-time {
    border-left: 1px solid #e8e8e8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
    align-items: center;
    align-content: center;
}
.session-time-txt, .session-time-left, .session-time-refresh {
    width: 100%;
    display: flex;
    justify-content: inherit;
    flex-shrink: 0;
}
.session-time-refresh {
	font-weight: 600;
}

/** HEADER **/ /** END **/


/** ASIDE **/
aside {
    width: 220px;
    background: #f7f7f7;
    border-right: 1px solid #e8e8e8;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 120px;
}
.user {
	background: #fff;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 30px 20px;
}
.user-avatar {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #fff;
	overflow: hidden;
}
.user-avatar img {
	width: 100%;
}
.user-name {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 20px 0 3px 0;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
}
.user-position {
	font-size: 12px;
	color: #00eb98;
	text-transform: uppercase;
	font-weight: 900;
}
.user-last-login {
	font-size: 12px;
	color: #444444;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px 10px;
	text-transform: uppercase;
}
.user-last-login-time {
	color: #afafaf;
}
.user-logout {
	font-size: 12px;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
}
.aside-menu {
	list-style-type: none;
    overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	margin: 0;
}
.aside-menu li {
	width: 100%;
	border-top: 1px solid #e8e8e8;
	transition: all .3s;
}
.aside-menu li:hover {
	background: #fff;
}
.aside-menu li a {
    text-decoration: none;
    color: #292929;
    padding: 15px 25px;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    transition: all .3s;
}
.aside-menu li:hover a {
	transform: translateX(10px);
	color: #00eb98;
}
.aside-menu .sub-menu li a {
	padding: 5px 35px;
}

/** ASIDE **/ /** END **/



/** MAIN **/

.main {
	transition: .3s ease-in-out all;
    flex-grow: 1;
    margin-left: 199px;
    background: #f7f7f7;
    z-index: 1;
   	border-left: 1px solid #e8e8e8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.main-full {
	margin-left: 0;
}
.content-box {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    margin-bottom: 1%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}
.content-box h1 {
	font-size: 16px;
    color: #292929;
    text-transform: uppercase;
    border-bottom: 1px #e6e6e6 dashed;
    padding: 0 0 5px 0;
    width: 100%;

}
.login-h4 {
	text-align: center;
    color: #292929;
    text-transform: uppercase;
    border-bottom: 1px #e6e6e6 dashed;
    padding: 0 0 5px 0;
    width: 100%;

}
.content-box form {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.search {
	flex-grow: 1;
	width: 100%;
}
.content-box-input {
    padding: 5px;
    width: 100%;
    border: 1px #d8d8d8 solid;
}

.content-box textarea, .content-box input {
    border-radius: 0;
    padding: 10px;
    height: auto;
    margin: 0;
}
.content-box select {
	border: 1px #a9a9a9 solid;
    height: 42px;
    border-radius: 0;
}

/** MAIN **/ /** END **/


.fill-empty-space {
    width: 100%;
    background: transparent;
    flex-grow: 1;

}
footer {
	width: 100%;
	border-top: 1px solid #e8e8e8;
	flex-shrink: 0;
	height: 50px;
    z-index: 1;
    background: #fff;
}
.footer-text {
	color: #7b7b7b;
	font-size: 14px;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 25px;
	justify-content: space-between;
}


/** LOGIN **/
.clientRegisterPasswordHidden {
	display: none !important;
}
.newPasswordInfo {
	font-size: 14px;
	color: #444;
}
.companyName {
	display: block;
	width: 100%;
	text-align: center;
	text-transform: none;
	font-size: 13px;
}
.login-input {
    margin: 0 auto 0 auto !important;
    width: 100% !important;
    max-width: 400px !important;
    box-sizing: border-box !important;
    padding: 20px !important;
    border-radius: 5px !important;
    border: 1px #adadad solid !important;
    display: flex !important;
    flex-wrap: wrap !important;
    align-content: center !important;
    justify-content: center !important;
    background: #fff !important;
    box-shadow: 0 0 5px #f2f2f2 !important;
    border-radius: 0 !important;
}
.login-input:hover {
	box-shadow: 0 0 10px #f2f2f2!important;
}
.login-label {
	width: 100%;
	margin: 10px 0 3px 0;
}
.login-input {
	width: 100%;
    height: 41px;
    border: 1px #d8d8d8 solid;
    box-sizing: border-box;
    padding: 0 10px;
}
.login-checkbox-box {
	width: 100%;
    height: 41px;
	box-sizing: border-box;
	display: flex;
    align-items: center;
    align-content: center;
}
.login-checkbox-box input {
	margin: 0 5px !important;
	padding: 0 !important;
}
.login-checkbox-box label {
	margin: 0 !important;
	padding: 0 !important;
}
.login-checkbox {
	width: auto;
    height: auto;
}
.login-box {
	margin: 0 auto 0 auto;
	width: 100%;
	max-width: 400px;
	box-sizing: border-box;
	padding: 20px;
	border-radius: 5px;
	border: 1px #adadad solid;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	background: #fff;
	box-shadow: 0 0 5px #f2f2f2;
}
.sep {
	width: 100%;
	margin: 20px 0;
	border: 1px #f2f2f2 dashed;
	padding: 0 20px;
	box-sizing: border-box;
}
.ok {
    padding: 5px 10px;
    border: 0;
    background: #5a5a5a;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s ease-in-out all;
    margin: 2px 0;
}
.ok:hover {
	background: #000;
}

.agent-button {
	background: #333;
}

.flex {
	display: flex;
	width: 100%;
}
.space-bet {
	justify-content: space-between;
	align-items: center;
}

.table {
	width: 100%;
	list-style-type: none;
}
.table-li {
	width: 100%;
    padding: 10px 0;
    border-bottom: 1px #f2f2f2 solid;
    display: flex;
    justify-content: space-between;
}
.label {
	width: 100%;
	margin: 15px 0 0 0;
	float: left;
}
.input, input {
	width: 100%;
	padding: 5px;
	margin: 5px 0 0 0;
	font-family: arial;
    font-size: 12px;
    border: 1px #a9a9a9 solid;
}
.input-small {
	padding: 5px;
	font-family: arial;
    font-size: 12px;
    border: 1px #a9a9a9 solid;
    margin-right: 5px;
}
.enableEdit {
	color: #00eb98;
	cursor: pointer;
}
.enableEdit:hover {
	text-decoration: underline;
}
.textarea, textarea {
	width:100%;
	padding: 5px;
	height: 100px;
	font-family: arial;
    font-size: 12px;
    line-height: 19px;
}
.input[readonly], .textarea[readonly]
{
    background-color:#eaeaea;
}

.select, select {
	width: 100%;
	padding: 5px;
	margin: 5px 0 0 0;
	font-family: arial;
    font-size: 12px;
    border: 1px #a9a9a9 solid;
}
.select[disabled]
{
    background-color:#eaeaea;
}

.tb {
	width: 100%;
}
.tb th {
	text-align: left;
}
.tb tr {
	padding: 2px 0 14px 0;
}
.tb tr:hover {
	background: #f2f2f2;
}
.td {
	padding: 3px 0;
}

.alert {
	position: fixed;
	z-index: 999999999;
	top: 70px;
	right: 10px;
	border: 1px solid #dedede;
	padding: 10px 10px;
}
.alert-success {
	background: rgba(5, 224, 96, 0.65);
}
.alert-error, .alert-danger {
	background: rgba(224, 4, 7, 0.71);
}
table {
	width: 100%;
}
table thead tr {
	background: #dedede;
}
table thead tr th {
	padding: 5px 0px;
}
table tbody tr td {
	padding: 5px 0px;
}
table tbody tr:hover {
	background: #eee;
}
.page-menu {
	margin-bottom: 10px;
	width:100%;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}

.labels_box {
	width: 100%;
	padding: 5px;
}
.labels_box .label_box {
	margin-left: 20px;
	padding: 10px;
	width: 100%;
}
.labels_box .label_box input {
	/* width: 30%; */
	width: 25%;
}
.labels_box .labels_inner select {
	width: auto;
}
.deleteForm {
	width: auto !important;
	display: initial !important;
}
.users-list-b {
	margin-top: 20px;
}
.ok-red {
	background: #dd1604;
}
.m-off {
	margin: 2px 0px;
}


.modal-box {
	background: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 999999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}
.modal {
  width: 50%;
  height: auto;
	/* height: auto;
	width: auto; */
	padding: 5px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	color: #000;
	padding: 10px;
}

.modal .text-side {
	height: calc(100% - 50px);
	/* width: 70%; */
	width: 100%;
	display: inline-block;
	vertical-align: top;
}
.modal .text-side textarea {
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}
.modal .options-side {
	width: 25%;
	display: inline-block;
	vertical-align: top;
}
.modal .options-side span {
	border-bottom: 1px solid #e3e3e3;
}
.modal button {
	margin-top: 25px;
}
.mails_box {
	width: 100%;
	display: none;
}
.mails_box .mail_date {
	display: inline-block;
}
.mails_box .mail_date select {
	display: inline-block;
	width: auto;
}
.mails_box .mail_date div {
	display: inline-block;
}
.mails_box .input-append p {
	color: #000;
	font-size: 14px;
	margin: 0px;
	padding: 8px;
	display: inline-block;
}
.mails_box .open-modal {
	margin: 10px;
}
.mails_box select {
	width: auto;
}

.mails_box .open-modal, .mails_box .mail_date {
	display: none;
}

.campaign-labels li {
	display: inline-block;
	margin-left: 15px;
	cursor: pointer;
}
.campaign-labels li:hover {
	background: #00eb98;
}
.campaign-labels li:before {
    content: "";
    display: list-item;
    position: absolute;
	margin-left: 5px;
}
.removeMail {
	margin-left: 10px;
}
div.ok {
	font-size: 12px;
	display:inline-block;
}


.message_replay_box {
	width: 100%;
	/* height: 100%; */
	height: calc(100% - 100px);
}
.message_replay_box form {
	display: inline-block;
	width: 50%;
	height: calc(100% - 50px);
	vertical-align: top;
	float:left;
}
.message_replay_box form #message {
	border: none;
	margin-top: 0px;
	/* height: 100%; */
}
.message_replay_box form #message div:first-child {
	height: calc(100% - 20px);
}
.message_replay_box form #message div:first-child textarea {
	height: 100%;
	resize: none;
}
.message_replay_box .messages_line {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	height: calc(100% - 50px);
	overflow-y: scroll;
	border-left: 1px solid #888;
	float: right;
}

/* .messages_line {
	width: 100%;
} */
.messages_line .message_box {
	/* width: 100%; */
	position: relative;
	display: block;
	/* float: left; */
	width: calc(100% - 20px);
}
.messages_line .message_box .message {
	width: 100%;
	/* max-width: 45%; */
	margin: 8px 10px;
}
/*
.messages_line .lead {
	float: left;
}
.messages_line .agent {
	float: right;
}
*/
.messages_line .lead .text {
	background: #f1f0f0;
	display: block;
}
.messages_line .agent .text {
	background: #26e99a;
	display: block;
}
.messages_line .message .text pre {
	/* word-break: break-word; */
	/* word-break: break-all; */
	white-space: pre-wrap;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}
.messages_line .message_box .message .from, .messages_line .message_box .message .date {
	margin-bottom: 5px;
	font-size: 14px;
	display: inline-block;
}
.messages_line .message_box .message .date {
	float: right;
}
.messages_line .message_box .message .text {
	border: none;
	padding: 10px;
	box-shadow: 0px 0px 10px 2px #999;
}
#message {
	width: 100%;
	border-top: 1px solid #888;
	padding: 10px;
	margin-top: 20px;
}

#message label {
	display: none;
}

.only-view-message form {
	display: none;
}
.only-view-message .messages_line {
	border: none;
	width: 100%;
}

.clientSettingsSMTPServers .hidden_save_button, .clientSettingsSMTPServers .deleteForm {
	display: none !important;
}


.clientActiveMessageHide {
	display: none;
}
.clientActiveMessageSelect {
	display: inline-block;
	width: 200px;
}

.mailsEditors {
	width: 100%;
	display: none;
}

.modal-box .modal button {
	margin-top: 0px !important;
}
/* .mce-container-body:hover .ui-helper-hidden-accessible div {
	display: none !important;
} */

.mail_date {
	vertical-align: middle;
}
.mail_date input {
	height: 25px;
}
.mail_date span {
	margin-top: 5px !important;
	height: 25px !important;
}

.mail_date_dh {
	width: 340px;
}
.mail_date_dh input {
	display: inline-block;
	width: 100px;
}
.errorDaysHours {
	display: block;
	color: red;
}

#reloadButton, #reloadButtonMessage {
	float: right;
	margin: 20px;
	cursor: pointer;
}

#datetimepicker1 {
	display: none !important;
}

.errorDateCheck {
	color: red;
	display: block;
	width: 100%;
}

.errorNoClientSettings {
	display: none;
	width:100%;
	display: block;
	background: red;
	padding: 5px;
	color: #fff;
}
.nameError {
	color: red;
}
.nameErrorGood {
	color: #00eb98;
}


input::-webkit-calendar-picker-indicator{
    display: none;
}
input[type="date"]::-webkit-input-placeholder{
    visibility: hidden !important;
}

.copy_keywords_menu, .select_th, .select_checkbox, .info {
	display: none;
}.copy_keywords_menu select {
	width: auto;
}
