{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <h1>Rejestracja klienta gotowa!</h1>
    <p>Wysłano mail z linkiem potwierdzającym do klienta pod adres: <b>{{ user.email }}</b></p>

{% endblock fos_user_content %}
