{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <h1>Dziękujemy za utworzenie konta!</h1>
    <p>Przejdź do panelu <a href="{{ url("panel_index") }}">klikając tutaj</a>.</p>

{% endblock fos_user_content %}
