{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}Potwierdź konto{% endblock %}

{% block body_html %}

<p>Cześć {{ user.username }}, potwierdź swoje konto <a href="{{ confirmationUrl }}">klikając tutaj</a>.</p>

Dziękujemy!

{% endblock %}
