{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    <h1 class="text-center">Rejestracja Klienta</h1>

    <label class="label">Nazwa Firmy</label>
    {{ form_widget(form.companyName) }}
    <span class="error">{{ form_errors(form.companyName) }}</span>

    <label class="label">Imię i Nazwisko</label>
    {{ form_widget(form.name) }}
    <span class="error">{{ form_errors(form.name) }}</span>
    {#
    <label class="label">Nazwisko</label>
    {{ form_widget(form.lastName) }}
    <span class="error">{{ form_errors(form.lastName) }}</span>
    #}
    <label class="label">Adres firmy</label>
    {{ form_widget(form.address) }}
    <span class="error">{{ form_errors(form.address) }}</span>

    <label class="label">Kod pocztowy</label>
    {{ form_widget(form.postCode) }}
    <span class="error">{{ form_errors(form.postCode) }}</span>

    <label class="label">Miasto</label>
    {{ form_widget(form.city) }}
    <span class="error">{{ form_errors(form.city) }}</span>

    <label class="label">Numer telefonu</label>
    {{ form_widget(form.phone) }}
    <span class="error">{{ form_errors(form.phone) }}</span>
    {#
    <label class="label">Opis osoby</label>
    {{ form_widget(form.personDescription) }}
    <span class="error">{{ form_errors(form.personDescription) }}</span>
    #}
    <label class="label">E-mail</label>
    {{ form_widget(form.email, {'attr': {'class': 'register-email'}}) }}
    <span class="error">{{ form_errors(form.email) }}</span>

    <label class="label clientRegisterPasswordHidden">Login</label>
    {{ form_widget(form.username, {'attr': {'class': 'register-login clientRegisterPasswordHidden', 'readonly': 'readonly'}}) }}
    <span class="error">{{ form_errors(form.username) }}</span>

    <label class="label clientRegisterPasswordHidden">Hasło</label>
    {{ form_widget(form.plainPassword.first) }}
    <span class="error">{{ form_errors(form.plainPassword.first) }}</span>

    <label class="label clientRegisterPasswordHidden">Powtórz hasło</label>
    {{ form_widget(form.plainPassword.second) }}
    <span class="error">{{ form_errors(form.plainPassword.second) }}</span>

    <button type="submit" name="submit" class="ok">Stwórz klienta</button>

{{ form_end(form) }}
