{% extends 'base.html.twig' %}

{% block body %}

    <h1>Strona główna</h1>
    <p>
        Tekst powitalny w panelu
    </p>

<!--
    <h1>Lista rozmów</h1>
    <ul class="table">
        <li class="table-li"><div><a href="/conversations/update/29">Piter Pidżej</a></div> <div>123123123</div></li>
        <li class="table-li"><div><a href="/conversations/update/30">Klaudia Drobotowska</a></div> <div>668853806</div></li>
    </ul> -->

{% endblock %}
