{% extends 'base.html.twig' %}

{% block body %}

	<h1>Edytowanie Maila</h1>

	{{ form_start(form, {'method': 'post', 'attr': {'class': 'keywordMail_edit'}}) }}

		<input type="hidden" class="keyId" value="{{ keyId }}" />
		<input type="hidden" class="mailId" value="{{ mailId }}" />
		<input type="hidden" class="campaignId" value="{{ campaign.id }}" />

	    <label class="label">Tytuł</label>
	    {{ form_widget(form.title) }}
	    <span class="error">{{ form_errors(form.title) }}</span>

	    <label class="label">Treść wiadomości</label>
	    {{ form_widget(form.messageText) }}
	    <span class="error">{{ form_errors(form.messageText) }}</span>

		<label class="label">Słowa kluczowe</label>
		<p>Zaznaczenie wielu słów z wciśniętym przyciskiem CTRL</p>
	    {{ form_widget(form.keywords) }}
	    <span class="error">{{ form_errors(form.keywords) }}</span>
		<select name="keyword_mail[keywords][]" required="required" class="keywordsOk" multiple="multiple"></select>

	    <button type="submit" name="submit" class="ok">Zapisz</button>
		<a href="{{ url("keyword_index", {"campaign": campaign.id}) }}" class="ok">Anuluj</a>

	{{ form_end(form) }}

{% endblock %}
