{% extends 'base.html.twig' %}

{% block body %}

	<h1>Dodaj odpowiedzi dla słowa: {{ mainKeywordTitle }}</h1>
	<p class="page-menu">
		<a href="{{ url("keywordMail_add", {"campaign": campaign.id, "id": mainKeyword }) }}"><button class="ok">Dodaj wiadomość mailową</button></a>
	</p>

	<table>
		<thead>
			<tr>
				<th style="width: 25%;">Tytuł</th>
				<th style="width: 25%;">Pod-Słowa kluczowe</th>
				<th style="width: 10%;">Akcje</th>
			</tr>
		</thead>
		{% for item in keywordMails %}
			<tr>
				<td>{{ item.title }}</td>
				<td>
					{% for keyword in item.keywords %}
						{{ keyword.name }}
						{% if loop.index != item.keywords|length %},{% endif %}
					{% endfor %}
				</td>
				<td class="text-center">
					<a href="{{ url("keywordMail_edit", {"campaign": campaign.id, "keyword": mainKeyword, "keywordMail": item.id }) }}"><button class="ok m-off">Edytuj</button></a>
					<a href="{{ url("keywordMail_delete", {"campaign": campaign.id, "keyword": mainKeyword, "keywordMail": item.id }) }}"><button class="ok ok-red m-off">Usuń</button></a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td>Nic nie znaleziono.</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}
