{% extends 'base.html.twig' %}

{% block body %}

	<h1>Edytowanie Lead'a</h1>

	{{ form_start(form, {'method': 'post', 'attr': {'class': 'lead_edit'}}) }}

		<fieldset class="labels_box">
			<legend for="lead_import_labels">Etykiety</legend>
			<span class="error">{{ form_errors(form.labels) }}</span>
			{{ form_widget(form.labels) }}
			{{ form_widget(form.labels_data) }}

			<div class="labels_inner">
				<div class="label_box" alt="0">
					Nazwa: <input type="text" name="form[labels][0][name]" required="required">
					Etykieta: <input type="text" name="form[labels][0][label]" required="required">
				</div>
			</div>
		</fieldset>

	    <button type="submit" name="submit" class="ok">Edytuj</button>
	    <a href="{{ url("mailbase_index") }}" class="ok">Anuluj</a>

	{{ form_end(form) }}

{% endblock %}
