{% extends 'base.html.twig' %}

{% block body %}

	<h1>Dodawanie Słowa kluczowego</h1>

	{{ form_start(form, {'method': 'post'}) }}

	    <label class="label">Nazwa</label>
	    {{ form_widget(form.name) }}
	    <span class="error">{{ form_errors(form.name) }}</span>

	    <button type="submit" name="submit" class="ok">Dodaj</button>

	{{ form_end(form) }}

{% endblock %}
