{% extends 'base.html.twig' %}

{% block body %}

	<h1>Edytowanie Słowa kluczowego</h1>

	{{ form_start(form, {'method': 'post'}) }}

	    <label class="label">Nazwa</label>
	    {{ form_widget(form.name) }}
	    <span class="error">{{ form_errors(form.name) }}</span>

	    <button type="submit" name="submit" class="ok">Zapisz</button>
		<a href="{{ url("keyword_index", {"campaign": campaign.id}) }}" class="ok">Anuluj</a>

	{{ form_end(form) }}

{% endblock %}
