{% extends 'base.html.twig' %}

{% block body %}

	<h1>Słowa kluczowe dla Kampanii: {{ campaign.name }}</h1>
	<p class="page-menu">
		<a href="{{ url("keyword_add", {"campaign": campaign.id }) }}"><button class="ok">Dodaj słowo kluczowe</button></a>
		<a href="#"><button class="ok copy_keywords">Kopiuj słowa kluczowe</button></a>
	</p>

	<p class="copy_keywords_menu">
		<button class="ok select_all">Zaznacz/Odznacz wszystkie</button>
		<select class="copy_campaignTo">
			{% for option in campaigns %}
				{% if option.id != campaign.id %}
					<option value="{{ option.id }}">{{ option.name }}</option>
				{% endif %}
			{% endfor %}
		</select>
		<button class="ok copy_agree">Zatwierdź wykonanie kopii</button>
		<br />
		<b class="info"></b>
	</p>

	<table>
		<thead>
			<tr>
				<th class="select_th" style="width: 1%;"> </th>
				<th style="width: 25%;">Nazwa</th>
				<th style="width: 10%;">Akcje</th>
			</tr>
		</thead>
		{% for item in keyword %}
			<tr>
				<td class="select_checkbox text-center" style="width: 1%;"><input type="checkbox" value="{{ item.id }}" checked /></td>
				<td><a href="{{ url("keyword_subs", {"campaign": campaign.id, "id": item.id }) }}">{{ item.name }}</a></td>
				<td class="text-center">
					<a href="{{ url("keyword_subs", {"campaign": campaign.id, "id": item.id }) }}"><button class="ok m-off">Pod-słowa</button></a>
					<a href="{{ url("keywordMail_index", {"campaign": campaign.id, "id": item.id }) }}"><button class="ok m-off">Dodaj odpowiedzi</button></a> <br />
					<a href="{{ url("keyword_edit", {"campaign": campaign.id, "id": item.id }) }}"><button class="ok m-off">Edytuj</button></a>
					<a href="{{ url("keyword_delete", {"campaign": campaign.id, "id": item.id }) }}"><button class="ok ok-red m-off">Usuń</button></a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td>Nic nie znaleziono.</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}
