{% extends 'base.html.twig' %}

{% block body %}

	<h1>Pod-Słowa kluczowe dla słowa: {{ mainKeywordTitle }}</h1>
	<p class="page-menu">
		<a href="{{ url("keyword_addSub", {"campaign": campaign.id, "id": mainKeyword }) }}"><button class="ok">Dodaj pod-słowo kluczowe</button></a>
	</p>

	<table>
		<thead>
			<tr>
				<th style="width: 25%;">Nazwa</th>
				<th style="width: 10%;">Akcje</th>
			</tr>
		</thead>
		{% for item in subsKeyword %}
			<tr>
				<td>{{ item.name }}</td>
				<td class="text-center">
					<a href="{{ url("keyword_edit", {"campaign": campaign.id, "id": item.id }) }}"><button class="ok m-off">Edytuj</button></a>
					<a href="{{ url("keyword_delete", {"campaign": campaign.id, "id": item.id }) }}"><button class="ok ok-red m-off">Usuń</button></a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td>Nic nie znaleziono.</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}
