{% extends 'base.html.twig' %}

{% block body %}

	<h1>Aktywacja odpisywania na wiadomości</h1>
	<p class="page-menu">
		<select class="clientActiveMessageSelect">
			<option>Wybierz Klienta</option>
			{% for client in clients %}
				<option value="{{ client.id }}">{{ client.companyName }}</option>
			{% endfor %}
		</select>
	</p>

	{% for client in clients %}
		<table class="clientActiveMessageHide" alt="{{ client.id }}">
			<thead>
				<tr>
					<th style="width: 25%;">Nazwa / Imię i nazwisko</th>
					<th style="width: 25%;">Email</th>
					<th style="width: 10%;">Akcje</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th colspan="3" class="text-left">Klient - {{ client.companyName }}</th>
				</tr>
				<tr>
					<td>
						{# {% if client.name is empty and client.lastName is empty %} #}
						{% if client.name is empty %}
			                {{ client.username }}
			            {% else %}
			                {{ client.getFullName() }}
			            {% endif %}
					</td>
					<td>{{ client.email }}</td>
					<td class="text-center">
						{% if client.messagesReply == "active" %}
							<a href="{{ url("admin_clientsusers_stop", {"id": client.id }) }}"><button class="ok m-off">Wyłącz</button></a>
						{% else %}
							<a href="{{ url("admin_clientsusers_active", {"id": client.id }) }}"><button class="ok m-off">Włącz</button></a>
						{% endif %}
					</td>
				</tr>
				<tr>
					<th colspan="3" class="text-left">Kierownicy projektu</th>
				</tr>

				{% for kp in kps[client.id] %}
					<tr>
						<td>
							{# {% if kp.name is empty and kp.lastName is empty %} #}
							{% if kp.name is empty %}
				                {{ kp.username }}
				            {% else %}
				                {{ kp.getFullName() }}
				            {% endif %}
						</td>
						<td>{{ kp.email }}</td>
						<td class="text-center">
							{% if kp.messagesReply == "active" %}
								<a href="{{ url("admin_clientsusers_stop", {"id": kp.id }) }}"><button class="ok m-off">Wyłącz</button></a>
							{% else %}
								<a href="{{ url("admin_clientsusers_active", {"id": kp.id }) }}"><button class="ok m-off">Włącz</button></a>
							{% endif %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td>Nie znaleziono Kierowników projektu.</td>
					</tr>
				{% endfor %}

				<tr>
					<td colspan="3"><hr /></td>
				</tr>
			</tbody>
		</table>

	{% else %}
		<table class="clientActiveMessageHide" alt="{{ client.id }}">
			<tr>
				<td>Nic nie znaleziono.</td>
			</tr>
		</table>
	{% endfor %}
{% endblock %}
