{% extends 'base.html.twig' %}

{% block body %}

	<h1>Lista Klientów</h1>

	<table>
		<thead>
			<tr>
				<th style="width: 25%;">Nazwa firmy</th>
				<th style="width: 25%;">Imię i nazwisko</th>
				<th style="width: 25%;">Login</th>
				<th style="width: 25%;">Email</th>
				<th style="width: 10%;">Akcje</th>
			</tr>
		</thead>
		{% for client in clients %}
			<tr>
				<td>
					{{ client.companyName }}
				</td>
				<td>
					{# {% if client.name is empty and client.lastName is empty %} #}
					{% if client.name is empty %}
		                {{ client.username }}
		            {% else %}
		                {{ client.getFullName() }}
		            {% endif %}
				</td>
				<td>
					{{ client.username }}
				</td>
				<td>{{ client.email }}</td>
				<td class="text-center">
					<a href="{{ url("admin_client_edit", {"id": client.id }) }}"><button class="ok m-off">Edytuj</button></a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td>Nic nie znaleziono.</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}
