{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(form, {'method': 'post'}) }}

    <h1 class="text-center">Edycja Klienta</h1>

    <label class="label">E-mail</label>
    {{ form_widget(form.email) }}
    <span class="error">{{ form_errors(form.email) }}</span>

    <label class="label">Nazwa Firmy</label>
    {{ form_widget(form.companyName) }}
    <span class="error">{{ form_errors(form.companyName) }}</span>

    <label class="label">Imię i Nazwisko</label>
    {{ form_widget(form.name) }}
    <span class="error">{{ form_errors(form.name) }}</span>
    {#
    <label class="label">Nazwisko</label>
    {{ form_widget(form.lastName) }}
    <span class="error">{{ form_errors(form.lastName) }}</span>
    #}
    <label class="label">Adres firmy</label>
    {{ form_widget(form.address) }}
    <span class="error">{{ form_errors(form.address) }}</span>

    <label class="label">Kod pocztowy</label>
    {{ form_widget(form.postCode) }}
    <span class="error">{{ form_errors(form.postCode) }}</span>

    <label class="label">Miasto</label>
    {{ form_widget(form.city) }}
    <span class="error">{{ form_errors(form.city) }}</span>

    <label class="label">Numer telefonu</label>
    {{ form_widget(form.phone) }}
    <span class="error">{{ form_errors(form.phone) }}</span>

    <button type="submit" name="submit" class="ok">Edytuj Klienta</button>
    <a href="{{ url("admin_users") }}" class="ok">Anuluj</a>

{{ form_end(form) }}

{% endblock %}
