{% extends 'base.html.twig' %}

{% block body %}

	<h1>Dodawanie Kampanii</h1>

	{{ form_start(form, {'method': 'post', 'attr': {'class': 'campaign_add'}}) }}

	    <label class="label">Nazwa</label>
	    {{ form_widget(form.name) }}
	    <span class="error">{{ form_errors(form.name) }}</span>
	    <span class="error nameError"></span>

		<label class="label">Baza Mailingowa</label>
	    {{ form_widget(form.lead_import) }}
	    <span class="error">{{ form_errors(form.lead_import) }}</span>

		<label class="label">Agent</label>
	    {{ form_widget(form.agent) }}
	    <span class="error">{{ form_errors(form.agent) }}</span>

		<label class="label">Konsultant</label>
	    {{ form_widget(form.consultant) }}
	    <span class="error">{{ form_errors(form.consultant) }}</span>

		<div class="mailsEditors">
			<h3>Utwórz wiadmości</h3>
			{# Mail1 #}
			<fieldset class="mails_box" alt="1">
				{# <legend for="lead_import_labels">Utwórz wiadomość 1</legend> #}

				<span class="error">{{ form_errors(form.mail_active1) }}</span>
				Dodaj wiadomość 1: {{ form_widget(form.mail_active1) }}

				<span class="error">{{ form_errors(form.mail_text1) }}</span>
				<div class="modal-box" modal-name="1">
					<div class="modal">
						<div class="text-side">
							<legend>Treść wiadomości</legend>
							{{ form_widget(form.mail_text1) }}
						</div>
						{#
						<div class="options-side">
							<span>Wybierz Etykietę do treści</span>
							<ul class="campaign-labels">Wybierz Bazę Mailingową, aby zobaczyć Etykiety</ul>
						</div>
						#}
						<div class="ok modal-close calendar-before-text">Zamknij</div>
					</div>
				</div>
				<div class="ok open-modal" modal-data="1">Uzupełnij treść wiadomości</div>
				<span class="error">{{ form_errors(form.mail_date1) }}</span>
				{# <div class="mail_date">Wybierz datę wysyłki: {{ form_widget(form.mail_date1) }}</div> #}

				<div class="mail_date input-append date" id="datetimepicker1">
					<p>Wybierz datę wysyłki:</p> {{ form_widget(form.mail_date1, {'attr': {'data-format': 'yyyy-MM-dd hh:mm:ss'}}) }}
					<span class="add-on">
						<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
					</span>
				</div>
			</fieldset>

			{# Mail2 #}
			<fieldset class="mails_box" alt="2">
				{# <legend for="lead_import_labels">Utwórz wiadomość 2</legend> #}

				<span class="error">{{ form_errors(form.mail_active2) }}</span>
				Dodaj wiadomość 2: {{ form_widget(form.mail_active2) }}

				<span class="error">{{ form_errors(form.mail_text2) }}</span>
				<div class="modal-box" modal-name="2">
					<div class="modal">
						<div class="text-side">
							<legend>Treść wiadomości</legend>
							{{ form_widget(form.mail_text2) }}
						</div>
						{#
						<div class="options-side">
							<span>Wybierz Etykietę do treści</span>
							<ul class="campaign-labels">Wybierz Bazę Mailingową, aby zobaczyć Etykiety</ul>
						</div>
						#}
						<div class="ok modal-close">Zamknij</div>
					</div>
				</div>
				<div class="ok open-modal" modal-data="2">Uzupełnij treść wiadomości</div>
				{#
				<span class="error">{{ form_errors(form.mail_date2) }}</span>
				<div class="mail_date">Wybierz datę wysyłki: {{ form_widget(form.mail_date2) }}</div>
				#}
				<div class="mail_date mail_date_dh">
					<span class="error">{{ form_errors(form.mail_date2_days) }}</span>
					Ile dni: {{ form_widget(form.mail_date2_days) }}

					<span class="error">{{ form_errors(form.mail_date2_hours) }}</span>
					Ile godzin: {{ form_widget(form.mail_date2_hours) }}
				</div>
			</fieldset>

			{# Mail3 #}
			<fieldset class="mails_box" alt="3">
				{# <legend for="lead_import_labels">Utwórz wiadomość 3</legend> #}

				<span class="error">{{ form_errors(form.mail_active3) }}</span>
				Dodaj wiadomość 3: {{ form_widget(form.mail_active3) }}

				<span class="error">{{ form_errors(form.mail_text3) }}</span>
				<div class="modal-box" modal-name="3">
					<div class="modal">
						<div class="text-side">
							<legend>Treść wiadomości</legend>
							{{ form_widget(form.mail_text3) }}
						</div>
						{#
						<div class="options-side">
							<span>Wybierz Etykietę do treści</span>
							<ul class="campaign-labels">Wybierz Bazę Mailingową, aby zobaczyć Etykiety</ul>
						</div>
						#}
						<div class="ok modal-close">Zamknij</div>
					</div>
				</div>
				<div class="ok open-modal" modal-data="3">Uzupełnij treść wiadomości</div>
				{#
				<span class="error">{{ form_errors(form.mail_date3) }}</span>
				<div class="mail_date">Wybierz datę wysyłki: {{ form_widget(form.mail_date3) }}</div>
				#}
				<div class="mail_date mail_date_dh">
					<span class="error">{{ form_errors(form.mail_date3_days) }}</span>
					Ile dni: {{ form_widget(form.mail_date3_days) }}

					<span class="error">{{ form_errors(form.mail_date3_hours) }}</span>
					Ile godzin: {{ form_widget(form.mail_date3_hours) }}
				</div>
			</fieldset>

			{# Mail4 #}
			<fieldset class="mails_box" alt="4">
				{# <legend for="lead_import_labels">Utwórz wiadomość 4</legend> #}

				<span class="error">{{ form_errors(form.mail_active4) }}</span>
				Dodaj wiadomość 4: {{ form_widget(form.mail_active4) }}

				<span class="error">{{ form_errors(form.mail_text4) }}</span>
				<div class="modal-box" modal-name="4">
					<div class="modal">
						<div class="text-side">
							<legend>Treść wiadomości</legend>
							{{ form_widget(form.mail_text4) }}
						</div>
						{#
						<div class="options-side">
							<span>Wybierz Etykietę do treści</span>
							<ul class="campaign-labels">Wybierz Bazę Mailingową, aby zobaczyć Etykiety</ul>
						</div>
						#}
						<div class="ok modal-close">Zamknij</div>
					</div>
				</div>
				<div class="ok open-modal" modal-data="4">Uzupełnij treść wiadomości</div>
				{#
				<span class="error">{{ form_errors(form.mail_date4) }}</span>
				<div class="mail_date">Wybierz datę wysyłki: {{ form_widget(form.mail_date4) }}</div>
				#}
				<div class="mail_date mail_date_dh">
					<span class="error">{{ form_errors(form.mail_date4_days) }}</span>
					Ile dni: {{ form_widget(form.mail_date4_days) }}

					<span class="error">{{ form_errors(form.mail_date4_hours) }}</span>
					Ile godzin: {{ form_widget(form.mail_date4_hours) }}
				</div>
			</fieldset>

			{# Mail5 #}
			<fieldset class="mails_box" alt="5">
				{# <legend for="lead_import_labels">Utwórz wiadomość 5</legend> #}

				<span class="error">{{ form_errors(form.mail_active5) }}</span>
				Dodaj wiadomość 5: {{ form_widget(form.mail_active5) }}

				<span class="error">{{ form_errors(form.mail_text5) }}</span>
				<div class="modal-box" modal-name="5">
					<div class="modal">
						<div class="text-side">
							<legend>Treść wiadomości</legend>
							{{ form_widget(form.mail_text5) }}
						</div>
						{#
						<div class="options-side">
							<span>Wybierz Etykietę do treści</span>
							<ul class="campaign-labels">Wybierz Bazę Mailingową, aby zobaczyć Etykiety</ul>
						</div>
						#}
						<div class="ok modal-close">Zamknij</div>
					</div>
				</div>
				<div class="ok open-modal" modal-data="5">Uzupełnij treść wiadomości</div>
				{#
				<span class="error">{{ form_errors(form.mail_date5) }}</span>
				<div class="mail_date">Wybierz datę wysyłki: {{ form_widget(form.mail_date5) }}</div>
				#}
				<div class="mail_date mail_date_dh">
					<span class="error">{{ form_errors(form.mail_date5_days) }}</span>
					Ile dni: {{ form_widget(form.mail_date5_days) }}

					<span class="error">{{ form_errors(form.mail_date5_hours) }}</span>
					Ile godzin: {{ form_widget(form.mail_date5_hours) }}
				</div>
			</fieldset>

			<div class="ok addMail">Dodaj kolejną wiadomość</div>
			<div class="ok removeMail">Ukryj ostatnią wiadomość</div>
		</div>

		<fieldset class="labels_box">

			<div class="modal-box" modal-name="stopka">
				<div class="modal">
					<div class="text-side">
						<legend>Uzupełnij stopkę imienną</legend>
						{{ form_widget(form.footer) }}
					</div>
					<div class="ok modal-close">Zatwierdź</div>
				</div>
			</div>
			<div class="ok open-modal" modal-data="stopka">Dodaj stopkę imienną</div>

			{#
			<legend>Dodaj stopkę imienną</legend>
			{{ form_widget(form.footer) }}
			#}
		</fieldset>

		{# Conditions #}
		<fieldset class="labels_box conditions_box">
			<div class="modal-box" modal-name="sprofiluj-baze">
				<div class="modal">
					<div class="text-side">

						<legend for="lead_import_labels">Warunki</legend>
						<span class="error">{{ form_errors(form.conditions) }}</span>
						{{ form_widget(form.conditions) }}

						<div class="labels_inner">
							<div class="label_box" alt="0">
								<select class="label_select_name select_name_base" name="campaign[conditions][0][name]">
									<option>Wybierz Etykietę</option>
								</select>
								<select name="campaign[conditions][0][if]" class="select_if">
									<option value="==">jest równy</option>
									<option value="!=">nie jest równy</option>
									<option value=">">jest większy</option>
									<option value="<">jest mniejszy</option>
									<option value=">=">jest większy, bądź równy</option>
									<option value="<=">jest mniejszy, bądź równy</option>
								</select>
								Wartość: <input type="text" name="campaign[conditions][0][value]" placeholder="Uzupełnij wartość np. Łukasz">
							</div>
						</div>
						<div class="ok addCondition">Dodaj Warunek</div>
						<div class="countLeads"></div>

						<div class="ok modal-close">Zatwierdź</div>
					</div>
				</div>
			</div>

			<div class="ok open-modal" modal-data="sprofiluj-baze">Sprofiluj bazę</div>
		</fieldset>

		<span class="error errorDateCheck"></span>

	    <button type="submit" name="submit" class="ok submitSaveButtom">Dodaj</button>

	{{ form_end(form) }}

{% endblock %}
