{% extends 'base.html.twig' %}

{% block body %}

	<h1>Kampanie</h1>
	<p class="page-menu">
		<a href="{{ url("campaign_add") }}"><button class="ok">Dodaj Kampanie</button></a>

		<span id="reloadButton" title="Odśwież stronę">
			<img src="{{ asset('images/reloadIcon.png') }}" />
		</span>
	</p>
	{% if BotSettings == 0 %}
		<span class="errorNoClientSettings">Dane wysyłki/odbioru bota nie zostały uzupełnione - wysyłka może nie wyjść do Leadów !!!</span>
	{% endif %}

	<table>
		<thead>
			<tr>
				<th style="width: 25%;">Nazwa</th>
				<th style="width: 25%;">Baza Mailingowa</th>
				<th style="width: 10%;">Ilość leadów</th>
				<th style="width: 10%;">Status</th>
				<th style="width: 10%;">Akcje</th>
			</tr>
		</thead>
		{% for item in campaigns %}
			<tr>
				<td><a href="{{ url("campaign_show", {"id": item.id }) }}">{{ item.name }}</a></td>
				<td class="text-center">{{ item.leadImport.getName() }}</td>
				<td class="text-center">{{ countLeads[item.id] }}</td>
				<td class="text-center">
					{% if item.type == "active" %}
						Aktywna

						{% if item.mailingStage == "2" %}
							- Etap 2
							<p title="Data drugiej wysyłki">
								{{ item.mailDate2Full | date("Y-m-d G:i:s") }}
							</p>
						{% elseif item.mailingStage == "3" %}
							- Etap 3
							<p title="Data trzeciej wysyłki">
								{{ item.mailDate3Full | date("Y-m-d G:i:s") }}
							</p>
						{% elseif item.mailingStage == "4" %}
							- Etap 4
							<p title="Data czwartej wysyłki">
								{{ item.mailDate4Full | date("Y-m-d G:i:s") }}
							</p>
						{% elseif item.mailingStage == "5" %}
							- Etap 5
							<p title="Data piątej wysyłki">
								{{ item.mailDate5Full | date("Y-m-d G:i:s") }}
							</p>
						{% else %}
							- Etap 1
							<p title="Data pierwszej wysyłki">
								{{ item.mailDate1 | date("Y-m-d G:i:s") }}
							</p>
						{% endif %}
						{#
						<p title="Data pierwszej wysyłki">
							{{ item.mailDate1 | date("Y-m-d G:i:s") }}
						</p>
						#}
					{% endif %}
					{% if item.type == "stoped" %}Zatrzymana{% endif %}
					{% if item.type == "finished" %}Zakończona{% endif %}
					{% if item.type == "inBuild" %}W budowie{% endif %}
				</td>
				<td class="text-center">
					{% if item.type != "active" %}
						{% if item.type == "stoped" or item.type == "inBuild" %}
							<a href="{{ url("campaign_edit", {"id": item.id }) }}"><button class="ok m-off">Edytuj</button></a>
							<a href="{{ url("campaign_active", {"id": item.id }) }}"><button class="ok m-off">Aktywuj</button></a>
						{% endif %}

						{% if item.type == "finished" %}
							<a href="{{ url("campaign_copy", {"id": item.id }) }}"><button class="ok m-off">Kopiuj</button></a>

							{{ form_start(deleteForms[item.id], {"attr": {"class": "deleteForm"}}) }}
								{{ form_widget(deleteForms[item.id].submit, {"attr": {"class": "ok ok-red m-off"}}) }}
								{{ form_rest(deleteForms[item.id]) }}
							{{ form_end(deleteForms[item.id]) }}
						{% endif %}
					{% endif %}
					{% if item.type == "active" %}
						<a href="{{ url("campaign_stop", {"id": item.id }) }}"><button class="ok m-off">Zatrzymaj</button></a>
					{% endif %}

		            <a href="{{ url("keyword_index", {"campaign": item.id }) }}"><button class="ok m-off">Słowa kluczowe</button></a>

				</td>

			</tr>
		{% else %}
			<tr>
				<td>Nic nie znaleziono.</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}
