{% extends 'base.html.twig' %}

{% block body %}

	<h1>Kampania - {{ campaignName }}</h1>


	{% if labels is defined and labels != "" %}

		<table>
			<thead>
				<tr>
					{% for label in labels %}
						<th style="width: 25%;">{{ label.name }}</th>
					{% endfor %}
				</tr>
			</thead>

			{% for item in leads %}
				<tr>
					{% for label in labels %}
						{% if item.labels[label.label] is defined %}
							<td>{{ item.labels[label.label] }}</td>
						{% else %}
							<td></td>
						{% endif %}
					{% endfor %}
				</tr>
			{% else %}
				<tr>
					<td>Nic nie znaleziono.</td>
				</tr>
			{% endfor %}

		</table>

	{% else %}
		Uzupełnij Etykiety dla Bazy Mailingowej!
	{% endif %}

{% endblock %}
