{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(form, {'method': 'post'}) }}

    <h1>Edycja Firmowej stopki</h1>

    <label class="label">Stopka Firmowa</label>
    {{ form_widget(form.companyFooter) }}
    <span class="error">{{ form_errors(form.companyFooter) }}</span>

    <button type="submit" name="submit" class="ok">Zapisz</button>

{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('javascripts/tinymce/tinymce.min.js?apiKey=hoxlr2alifa02vkh6jh4dwjn80ztnv9owok1a9m4hx9eq2zg') }}"></script>
    <script>
        document.getElementById("form_companyFooter").required = false;

        var init1 = {
            selector:'#form_companyFooter',
            language: 'pl',

            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor colorpicker textpattern imagetools"
                ],
            toolbar1: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link     image",
            toolbar2: "print preview media | forecolor backcolor emoticons",
            image_advtab: true,
        };

        function loadTiny(initConf){
            tinymce.init(initConf);
        }
        loadTiny(init1);
    </script>
{% endblock %}
