{% extends 'base.html.twig' %}

{% block body %}

	<h1>Ustawienia Klienta</h1>

	<b>Ustawienia konfiguracji dla Bota poczty przychodzącej (odbieranie)</b>
	{{ form_start(form, {'method': 'post'}) }}
		<table>
			<thead>
				<tr>
					<th style="width: 18%;">Adres Email</th>
					<th style="width: 18%;">Hasło</th>
					<th style="width: 18%;">Adres serwera poczty</th>
					<th style="width: 18%;">Port serwera poczty</th>
					<th style="width: 18%;">Szyfrowanie serwera</th>
					<th style="width: 10%;">Akcje</th>
				</tr>
			</thead>
			<tr>
				<td>
				    {{ form_widget(form.bot_email) }}
				    <span class="error">{{ form_errors(form.bot_email) }}</span>
				</td>
				<td>
				    {{ form_widget(form.bot_password) }}
				    <span class="error">{{ form_errors(form.bot_password) }}</span>
				</td>
				<td>
				    {{ form_widget(form.bot_server) }}
				    <span class="error">{{ form_errors(form.bot_server) }}</span>
				</td>
				<td>
				    {{ form_widget(form.bot_imap_port) }}
				    <span class="error">{{ form_errors(form.bot_imap_port) }}</span>
				</td>
				<td>
				    {{ form_widget(form.bot_imap_encryption) }}
				    <span class="error">{{ form_errors(form.bot_imap_encryption) }}</span>
				</td>
				<td class="text-center">
				    <button type="submit" name="submit" class="ok">Zapisz</button>
				</td>
			</tr>
		</table>
	{{ form_end(form) }}

	<b>Lista serwerów Bota poczty wychodzącej (wysyłanie)</b>
	<table class="clientSettingsSMTPServers">
		<thead>
			<tr>
				<th style="width: 18%;">Adres Email</th>
				<th style="width: 18%;">Hasło</th>
				<th style="width: 18%;">Adres serwera poczty</th>
				<th style="width: 18%;">Port serwera poczty</th>
				<th style="width: 18%;">Szyfrowanie serwera</th>
				<th style="width: 10%;">Akcje</th>
			</tr>
		</thead>

		{% for server in clientSettingsSMTPServers %}
			{{ form_start(editForms[server.id], {"action": path('client_settings_smtp_edit', {'id': server.id }), "attr": {"class": "editForm"}}) }}
				<tr>
					<td>
						{{ form_widget(editForms[server.id].bot_email) }}
						<span class="error">{{ form_errors(editForms[server.id].bot_email) }}</span>
					</td>
					<td>
						{{ form_widget(editForms[server.id].bot_password) }}
						<span class="error">{{ form_errors(editForms[server.id].bot_password) }}</span>
					</td>
					<td>
						{{ form_widget(editForms[server.id].bot_server) }}
						<span class="error">{{ form_errors(editForms[server.id].bot_server) }}</span>
					</td>
					<td>
						{{ form_widget(editForms[server.id].bot_smtp_port) }}
						<span class="error">{{ form_errors(editForms[server.id].bot_smtp_port) }}</span>
					</td>
					<td>
						{{ form_widget(editForms[server.id].bot_smtp_encryption) }}
						<span class="error">{{ form_errors(editForms[server.id].bot_smtp_encryption) }}</span>
					</td>
					<td class="text-center">
						<div class="ok hidden_edit_button">Edytuj</div>
						<button type="submit" name="submit" class="ok hidden_save_button">Zapisz</button>
				{{ form_rest(editForms[server.id]) }}
			{{ form_end(editForms[server.id]) }}

						{% if deleteForms[server.id] != "none" %}
							{{ form_start(deleteForms[server.id], {"attr": {"class": "deleteForm"}}) }}
								{{ form_widget(deleteForms[server.id].submit, {"attr": {"class": "ok ok-red m-off"}}) }}
								{{ form_rest(deleteForms[server.id]) }}
							{{ form_end(deleteForms[server.id]) }}
						{% endif %}

				</td>
			</tr>
		{% else %}
			<tr>
				<td>Nie znaleziono serwerów.</td>
			</tr>
		{% endfor %}
	</table>

	<b>Dodanie nowego serwera wysyłki</b>
	{{ form_start(formSMTP, {'method': 'post', 'attr': {'class': 'client_settings_smtp'}}) }}
		<table>
			<tr>
				<td>
					{{ form_widget(formSMTP.bot_email, {'attr': {'placeholder': 'Adres Email'}}) }}
					<span class="error">{{ form_errors(formSMTP.bot_email) }}</span>
				</td>
				<td>
					{{ form_widget(formSMTP.bot_password, {'attr': {'placeholder': 'Hasło'}}) }}
					<span class="error">{{ form_errors(formSMTP.bot_password) }}</span>
				</td>
				<td>
					{{ form_widget(formSMTP.bot_server, {'attr': {'placeholder': 'Adres serwera poczty'}}) }}
					<span class="error">{{ form_errors(formSMTP.bot_server) }}</span>
				</td>
				<td>
					{{ form_widget(formSMTP.bot_smtp_port, {'attr': {'placeholder': 'Port Serwera poczty'}}) }}
					<span class="error">{{ form_errors(formSMTP.bot_smtp_port) }}</span>
				</td>
				<td>
					{{ form_widget(formSMTP.bot_smtp_encryption) }}
					<span class="error">{{ form_errors(formSMTP.bot_smtp_encryption) }}</span>
				</td>
				<td class="text-center">
					<button type="submit" name="submit" class="ok">Dodaj</button>
				</td>
			</tr>
		</table>
	{{ form_end(formSMTP) }}

{% endblock %}
