{% extends 'base.html.twig' %}

{% block body %}

	<h1>Użytkownicy Klienta</h1>
	<p class="page-menu">
		{% if not is_granted("ROLE_ADMIN") and is_granted("ROLE_CLIENT") or is_granted("ROLE_USER") and app.user.typeUser == 'kp' %}
			{% if is_granted("ROLE_CLIENT") %}
				<a href="{{ url("user_register_kp") }}"><button class="ok">Dodaj Kierownika Projektu</button></a>
			{% endif %}
			<a href="{{ url("user_register_agent") }}"><button class="ok">Dodaj Agenta</button></a>
			<a href="{{ url("user_register_consultant") }}"><button class="ok">Dodaj Konsultanta</button></a>
		{% endif %}
	</p>

	<b class="users-list-b">Kierownicy projektu</b>
	<table>
		<thead>
			<tr>
				<th style="width: 25%;">Imię i nazwisko</th>
				<th style="width: 25%;">Email</th>
				<th style="width: 10%;">Akcje</th>
			</tr>
		</thead>
		{% for kp in kps %}
			<tr>
				{# {% if kp.name is empty and kp.lastName is empty %} #}
				{% if kp.name is empty %}
	                <td>{{ kp.username }}</td>
	            {% else %}
	                <td>{{ kp.getFullName() }}</td>
	            {% endif %}
				<td>{{ kp.email }}</td>
				<td class="text-center">
					{% if app.user.typeUser != 'kp' and app.user.typeUser != 'agent' %}
						<a href="{{ url("kp_edit", {"id": kp.id }) }}"><button class="ok m-off">Edytuj</button></a>
					{% endif %}
					{{ form_start(dF_kps[kp.id], {"attr": {"class": "deleteForm"}}) }}
						{{ form_widget(dF_kps[kp.id].submit, {"attr": {"class": "ok ok-red m-off"}}) }}
						{{ form_rest(dF_kps[kp.id]) }}
					{{ form_end(dF_kps[kp.id]) }}
				</td>
			</tr>
		{% else %}
			<tr>
				<td>Nie znaleziono.</td>
			</tr>
		{% endfor %}
	</table>

	<b class="users-list-b">Agenci</b>
	<table>
		<thead>
			<tr>
				<th style="width: 25%;">Imię i nazwisko</th>
				<th style="width: 25%;">Email</th>
				<th style="width: 10%;">Akcje</th>
			</tr>
		</thead>
		{% for agent in agents %}
			<tr>
				{# {% if agent.name is empty and agent.lastName is empty %} #}
				{% if agent.name is empty %}
	                <td>{{ agent.username }}</td>
	            {% else %}
	                <td>{{ agent.getFullName() }}</td>
	            {% endif %}
				<td>{{ agent.email }}</td>
				<td class="text-center">
					{% if agent.offUser == 'yes' %}
						<a href="{{ url("agent_off_user", {"id": agent.id, "offUser": "no" }) }}"><button class="ok m-off">Odwieś</button></a>
					{% else %}
						<a href="{{ url("agent_off_user", {"id": agent.id, "offUser": "yes" }) }}"><button class="ok m-off">Zawieś</button></a>
					{% endif %}
					<a href="{{ url("agent_edit", {"id": agent.id }) }}"><button class="ok m-off">Edytuj</button></a>

					{{ form_start(dF_agents[agent.id], {"attr": {"class": "deleteForm"}}) }}
						{{ form_widget(dF_agents[agent.id].submit, {"attr": {"class": "ok ok-red m-off"}}) }}
						{{ form_rest(dF_agents[agent.id]) }}
					{{ form_end(dF_agents[agent.id]) }}
				</td>
			</tr>
		{% else %}
			<tr>
				<td>Nie znaleziono.</td>
			</tr>
		{% endfor %}
	</table>

	<b class="users-list-b">Konsultanci</b>
	<table>
		<thead>
			<tr>
				<th style="width: 25%;">Imię i nazwisko</th>
				<th style="width: 25%;">Email</th>
				<th style="width: 10%;">Akcje</th>
			</tr>
		</thead>
		{% for consultant in consultants %}
			<tr>
				{# {% if consultant.name is empty and consultant.lastName is empty %} #}
				{% if consultant.name is empty %}
	                <td>{{ consultant.username }}</td>
	            {% else %}
	                <td>{{ consultant.getFullName() }}</td>
	            {% endif %}
				<td>{{ consultant.email }}</td>
				<td class="text-center">
					{% if consultant.offUser == 'yes' %}
						<a href="{{ url("consultant_off_user", {"id": consultant.id, "offUser": "no" }) }}"><button class="ok m-off">Odwieś</button></a>
					{% else %}
						<a href="{{ url("consultant_off_user", {"id": consultant.id, "offUser": "yes" }) }}"><button class="ok m-off">Zawieś</button></a>
					{% endif %}
					<a href="{{ url("consultant_edit", {"id": consultant.id }) }}"><button class="ok m-off">Edytuj</button></a>

					{{ form_start(dF_consultants[consultant.id], {"attr": {"class": "deleteForm"}}) }}
						{{ form_widget(dF_consultants[consultant.id].submit, {"attr": {"class": "ok ok-red m-off"}}) }}
						{{ form_rest(dF_consultants[consultant.id]) }}
					{{ form_end(dF_consultants[consultant.id]) }}
				</td>
			</tr>
		{% else %}
			<tr>
				<td>Nie znaleziono.</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}
