{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<div class="container">
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <div class="login-box">
            <a href="/" class="logo-login"><img src="{{ asset('images/gobot_logo_color.png') }}" class="logo-login__img" alt="Strona główna"></a>

            <label for="username" class="login-label">Nazwa użytkownika:</label>
            <input type="text" class="login-input" placeholder="Login" id="username" name="_username" value="{{ last_username }}" required="required" />

            <label for="password" class="login-label">Hasło:</label>
            <input type="password" class="login-input" placeholder="Hasło" id="password" name="_password" required="required" />

            <div class="login-checkbox-box">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="login-checkbox" />
                <label for="remember_me">Pamiętaj mnie</label>

            </div>

            <div class="sep"></div>
			<div class="flex space-bet">
				<button type="submit" id="_submit" name="_submit" class="ok">Zaloguj</button>
                <a href="{{ url("fos_user_resetting_request") }}" class="button">Zapomniałeś hasło?</a>
			</div>
        </div>
		<div class="info"></div>
    </form>
</div>
