{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

	<div class="container">
		<div class="login-box">
			<a href="/" class="logo-login"><img src="{{ asset('images/gobot_logo_color.png') }}" class="logo-login__img" alt="Strona główna"></a>
			<h4 class="login-h4">Sprawdź skrzynkę pocztową, również SPAM</h4>
		</div>
	</div>

{% endblock %}
