{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}Odzyskaj hasło{% endblock %}
{% block body_text %}{% endblock %}
{% block body_html %}

<p>W celu odzyskania lub zmiany hasła dla użytkownika {{ user.username }} <a href="{{ confirmationUrl }}">kliknij tutaj</a>.</p>
<p>Hasło musi się składać z minimum 6 znaków i posiadać 1 liczbę.</p>
<p>Zespół Gobot.pl</p>

{% endblock %}
