{% trans_default_domain 'FOSUserBundle' %}

<div class="container">

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">

        <div class="login-box">
            <a href="/" class="logo-login"><img src="{{ asset('images/gobot_logo_color.png') }}" class="logo-login__img" alt="Strona główna"></a>

            <h4 class="login-h4">Przypomnij hasło</h4>

            <label for="username" class="login-label">Nazwa użytkownika</label><br />
            <input type="text" id="username" name="username" placeholder="Login" required="required" class="login-input" />

            <div class="sep"></div>
			<div class="flex space-bet">
				<button type="submit" id="_submit" name="_submit" class="ok">Wyślij</button>
			</div>
        </div>

    </form>
</div>
