{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    {{ form_start(form, {'action': path('fos_user_resetting_reset', {'token': token}), 'attr': {'class': 'fos_user_resetting_reset'}}) }}
        {{ form_errors(form) }}

        <div class="login-box">
            <a href="/" class="logo-login"><img src="{{ asset('images/gobot_logo_color.png') }}" class="logo-login__img" alt="Strona główna"></a>

            <h4 class="login-h4">Ustaw nowe hasło</h4>
            <p class="newPasswordInfo">
                Twoje hasło powinno składać się z więcej niż 6 znaków i liczby.
            </p>

            <label for="fos_user_resetting_form_plainPassword_first" class="login-label">Nowe hasło</label>
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'login-input'}}) }}

            <label for="fos_user_resetting_form_plainPassword_second" class="login-label">Potwierdź nowe hasło</label>
            {{ form_errors(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'login-input'}}) }}

            <div class="sep"></div>
			<div class="flex space-bet">
				<button type="submit" id="_submit" name="_submit" class="ok">Wyślij</button>
			</div>
        </div>

    {{ form_end(form) }}
</div>
