{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(form, {'method': 'post'}) }}

    <h1 class="text-center">Edycja Konsultanta</h1>

    <label class="label">Imię i Nazwisko</label>
    {{ form_widget(form.name) }}
    <span class="error">{{ form_errors(form.name) }}</span>

    {#
    <label class="label">Nazwisko</label>
    {{ form_widget(form.lastName) }}
    <span class="error">{{ form_errors(form.lastName) }}</span>
    #}

    <label class="label">E-mail</label>
    {{ form_widget(form.email) }}
    <span class="error">{{ form_errors(form.email) }}</span>

    <button type="submit" name="submit" class="ok">Edytuj Konsultanta</button>
    <a href="{{ url("client_users") }}" class="ok">Anuluj</a>

{{ form_end(form) }}

{% endblock %}
