{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(form, {'method': 'post'}) }}

    <h1 class="text-center">Edycja Kierownika Projektu</h1>

    <label class="label">E-mail</label>
    {{ form_widget(form.email) }}
    <span class="error">{{ form_errors(form.email) }}</span>

    <label class="label">Imię i Nazwisko</label>
    {{ form_widget(form.name) }}
    <span class="error">{{ form_errors(form.name) }}</span>

    {#
    <label class="label">Nazwisko</label>
    {{ form_widget(form.lastName) }}
    <span class="error">{{ form_errors(form.lastName) }}</span>

    <label class="label">Adres zamieszkania</label>
    {{ form_widget(form.address) }}
    <span class="error">{{ form_errors(form.address) }}</span>

    <label class="label">Kod pocztowy</label>
    {{ form_widget(form.postCode) }}
    <span class="error">{{ form_errors(form.postCode) }}</span>

    <label class="label">Miasto</label>
    {{ form_widget(form.city) }}
    <span class="error">{{ form_errors(form.city) }}</span>
    #}

    <label class="label">Numer telefonu</label>
    {{ form_widget(form.phone) }}
    <span class="error">{{ form_errors(form.phone) }}</span>

    <label class="label">Stanowisko</label>
    {{ form_widget(form.personDescription) }}
    <span class="error">{{ form_errors(form.personDescription) }}</span>

    <label class="label">Stopka</label>
    {{ form_widget(form.footer) }}
    <span class="error">{{ form_errors(form.footer) }}</span>

    <button type="submit" name="submit" class="ok">Edytuj Kierownika Projektu</button>
    <a href="{{ url("client_users") }}" class="ok">Anuluj</a>

{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('javascripts/tinymce/tinymce.min.js?apiKey=hoxlr2alifa02vkh6jh4dwjn80ztnv9owok1a9m4hx9eq2zg') }}"></script>
    <script>
        document.getElementById("user_edit_footer").required = false;

        var init1 = {
            selector:'#user_edit_footer',
            language: 'pl',

            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor colorpicker textpattern imagetools"
                ],
            toolbar1: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link     image",
            toolbar2: "print preview media | forecolor backcolor emoticons",
            image_advtab: true,
        };

        function loadTiny(initConf){
            tinymce.init(initConf);
        }
        loadTiny(init1);
    </script>
{% endblock %}
