{% block subject %}Pierwsze logowanie{% endblock %}
{% block body_text %}{% endblock %}
{% block body_html %}

<p>Dziękujemy za aktywacje konta na panelu gobot.pl.</p>

<p>W celu zakończenia procesu rejestracji i uruchomienia dostępu do panelu dla użytkownika {{ user.username }}, prośba o utworzenia hasła <a href="{{ confirmationUrl }}">kliknij tutaj</a>.</p>

<p>Hasło musi się składać z minimum 6 znaków i posiadać 1 liczbę.</p>

<p>Zespół Gobot.pl</p>

{% endblock %}
