{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(form, {'method': 'post', 'action': path('user_register_consultant')}) }}

    <h1 class="text-center">Rejestracja Konsultanta</h1>

    <label class="label">Imię i Nazwisko</label>
    {{ form_widget(form.name) }}
    <span class="error">{{ form_errors(form.name) }}</span>
    {#
    <label class="label">Nazwisko</label>
    {{ form_widget(form.lastName) }}
    <span class="error">{{ form_errors(form.lastName) }}</span>
    #}
    <label class="label">E-mail</label>
    {{ form_widget(form.email) }}
    <span class="error">{{ form_errors(form.email) }}</span>

    <button type="submit" name="submit" class="ok">Stwórz Konsultanta</button>

{{ form_end(form) }}

{% endblock %}
