{% block subject %}Przekazanie Leada{% endblock %}
{% block body_text %}{% endblock %}
{% block body_html %}

	<p>
		Witaj Konsultancie, <br />
		Przekazuję Ci Leada, numer telefonu to: {{ getNumberIn }}
	</p>

	{% for item in messages %}

		<div class="message {% if item.messageId is null %}agent{% else %}lead{% endif %}">
			<span class="from">{{ item.messageFrom }}
				{% if item.agent is defined and item.agent is not null %}
					{# {% if item.agent.name is empty and item.agent.lastName is empty %} #}
					{% if item.agent.name is empty %}
						({{ item.agent.username }})
					{% else %}
						({{ item.agent.getFullName() }})
					{% endif %}
				{% endif %}
			</span>
			<span class="date">{{ item.messageDate | date("Y-m-d G:i:s") }}</span>
			<span class="text"><pre>{{ item.messageText }}</pre></span>
		</div>

	{% endfor %}

{% endblock %}
