{% extends 'base.html.twig' %}

{% block body %}

	<h1>Wiadomości - wybierz kampanię</h1>

	<table>
		<thead>
			<tr>
				<th style="width: 25%;">Nazwa Kampanii</th>
				<th style="width: 25%;">Akcje</th>
			</tr>
		</thead>
		{% for item in campaigns %}
			<tr>
				<td><a href="{{ url("messages_campaign_show", {"id": item.id, "type": "inbox"}) }}">{{ item.name }}</a></td>
				<td class="text-center"><a href="{{ url("messages_campaign_show", {"id": item.id, "type": "inbox"}) }}"><button class="ok m-off">Wybierz</button></a></td>
			</tr>
		{% else %}
			<tr>
				<td>Nic nie znaleziono.</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}
