{% extends 'base.html.twig' %}

{% block body %}

	<h1>Wiadomości z: {{ lead_email }}</h1>

	<p class="page-menu">
		{% if app.user.typeUser == 'agent' and numberIn == 1 and groupId is not empty %}
			<a href="{{ url("messages_campaign_consultant_direct", {"id": campaign_id, "group": groupId}) }}"><button class="ok">Przekaż do konsultanta</button></a>
		{% endif %}

		<span id="reloadButtonMessage" title="Odśwież stronę" onclick="reloadPage();">
			<img src="{{ asset('images/reloadIcon.png') }}" />
		</span>
	</p>

	<div class="message_replay_box {% if app.user.typeUser != 'agent' and app.user.messagesReply == 'stop' %}only-view-message{% endif %}">
		{{ form(form, {"attr": {"novalidate": "novalidate"}}) }}

		<div class="messages_line">
			{% for item in messages %}
				<div class="message_box">
					<div class="message {% if item.messageId is null %}agent{% else %}lead{% endif %}">
						<span class="from">{{ item.messageFrom }}
							{% if item.agent is defined and item.agent is not null %}
								{# {% if item.agent.name is empty and item.agent.lastName is empty %} #}
								{% if item.agent.name is empty %}
									({{ item.agent.username }})
								{% else %}
									({{ item.agent.getFullName() }})
								{% endif %}
							{% endif %}
						</span>
						<span class="date">{{ item.messageDate | date("Y-m-d G:i:s") }}</span>
						<span class="text"><pre>{{ item.messageText | raw }}</pre></span>
						{# <span class="text">{{ item.messageText }}</span> #}
					</div>
				</div>
			{% else %}
				<div class="info">
					Brak wiadomości
				</div>
			{% endfor %}
		</div>
	</div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('javascripts/tinymce/tinymce.min.js?apiKey=hoxlr2alifa02vkh6jh4dwjn80ztnv9owok1a9m4hx9eq2zg') }}"></script>
    <script>
        document.getElementById("message_messageText").required = false;

        var init1 = {
            selector:'#message_messageText',
            language: 'pl',

            plugins: [
                "autoresize advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor colorpicker textpattern imagetools"
                ],
            toolbar1: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link     image",
            toolbar2: "print preview media | forecolor backcolor emoticons",
            image_advtab: true,
        };

        function loadTiny(initConf){
            tinymce.init(initConf);
        }
        loadTiny(init1);


	    // refresh button
	    function reloadPage(){
	        location.reload();
	    }
    </script>
{% endblock %}
