{% extends 'base.html.twig' %}

{% block body %}

	<h1>Wiadomości dla Kampanii: {{ campaign_name }}</h1>
	<p class="page-menu">
		<a href="{{ url("direct_leads_index", {"id": campaign_id}) }}"><button class="ok">Przesłani do Konsultantów</button></a>

		<a href="{{ url("messages_campaign_show", {"id": campaign_id, "type": "inbox"}) }}"><button class="ok">Odebrane</button></a>
		<a href="{{ url("messages_campaign_show", {"id": campaign_id, "type": "other"}) }}"><button class="ok">Inne</button></a>

		{# użytkownik - agent #}
		{% if app.user.typeUser == 'agent' %}
			{% for agent in clientAgents %}
				<a href="{{ url("messages_for_agent_campaign_show", {"id": campaign_id, "type": "index", "agent": agent.id}) }}"><button class="ok agent-button">
					{# {% if agent.name is empty and agent.lastName is empty %} #}
					{% if agent.name is empty %}
		               	{{ agent.username }}
		            {% else %}
		                {{ agent.getFullName() }}
		            {% endif %}
				</button></a>
			{% endfor %}
		{% endif %}
	</p>

	<table>
		<thead>
			<tr>
				<th style="width: 25%;">Od kogo</th>
				<th style="width: 25%;">Data rozpoczęcia</th>
				<th style="width: 25%;">Draft</th>
				<th style="width: 25%;">Akcje</th>
			</tr>
		</thead>
		{% for item in messages %}
			<tr>
				<td class="text-center">{{ item.messageFrom }}</td>
				<td class="text-center">{{ item.messageDate | date("Y-m-d G:i:s") }}</td>
				<td class="text-center">
					{% if draftsReady[item.id] is defined and draftsReady[item.id] == 1 %}
						Draft gotowy!
					{% else %}
						-
					{% endif %}
				</td>
				<td class="text-center"><a href="{{ url("messages_campaign_show_tree", {"id": campaign_id, "group": item.messagesGroup}) }}"><button class="ok m-off">Przejdź do korespondencji</button></a></td>
			</tr>
		{% else %}
			<tr>
				<td>Nic nie znaleziono.</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}
