{% extends 'base.html.twig' %}

{% block body %}

	<h1>Lead'owie przesłani do Konsultantów dla Kampanii - {{ campaign_name }} </h1>

	<table class="text-center">
		<thead>
			<tr>
				<th style="width: 25%;">Kto przekazał</th>
				<th style="width: 25%;">Do kogo</th>
				<th style="width: 25%;">Lead Email</th>
				<th style="width: 25%;">Kiedy</th>
			</tr>
		</thead>
		{% for item in directLeads %}
			<tr>
				<td>{{ item.directWho }}</td>
				<td>{{ item.directTo }}</td>
				<td>{{ item.directLead }}</td>
				<td>{{ item.directDate | date("Y-m-d G:i:s") }}</td>
			</tr>
		{% else %}
			<tr>
				<td>Nic nie znaleziono.</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}
