{% extends 'base.html.twig' %}

{% block body %}

	<h1>Edytowanie listy mailingowej</h1>


	{{ form_start(form, {'method': 'post', 'attr': {'class': 'lead_import_edit'}}) }}

	    <label for="lead_import_name" class="label">Nazwa importowanej listy</label>
		{% if baseType == "test" %}
	    	{{ form_widget(form.name, {'attr': {'readonly': 'readonly'}}) }}
		{% else %}
	    	{{ form_widget(form.name) }}
		{% endif %}

		<span class="error">{{ form_errors(form.name) }}</span>

	    <label for="lead_import_description" class="label">Opis</label>
	    {{ form_widget(form.description) }}
	    <span class="error">{{ form_errors(form.description) }}</span>

		<fieldset class="labels_box">
			<legend for="lead_import_labels">Etykiety</legend>
			<span class="error">{{ form_errors(form.labels) }}</span>
			{{ form_widget(form.labels) }}

			<div class="labels_inner">
				<div class="label_box" alt="0">
					Nazwa: <input type="text" name="lead_import_edit[labels][0][name]" required="required">
					Etykieta: <input type="text" name="lead_import_edit[labels][0][label]" required="required">
				</div>
			</div>
			{# <button class="ok addLabel">Dodaj Etykietę</button> #}
		</fieldset>

	    <button type="submit" name="submit" class="ok">Edytuj</button>
		<a href="{{ url("mailbase_index") }}" class="ok">Anuluj</a>

	{{ form_end(form) }}

{% endblock %}
