{% extends 'base.html.twig' %}

{% block body %}

	<h1>Importowanie listy mailingowej - Krok 1</h1>
	<i>Pamiętaj, aby importowany plik zawierał przy każdym Lead'zie pole <b>"email"</b> ! - brak tego pola, spowoduje pojawienie się błędu</i>

	{{ form_start(form, {'method': 'post', 'action': path('import_index')}) }}

	    <label for="lead_import_name" class="label">Nazwa importowanej listy</label>
	    {{ form_widget(form.name) }}
	    <span class="error">{{ form_errors(form.name) }}</span>

	    <label for="lead_import_description" class="label">Opis</label>
	    {{ form_widget(form.description) }}
	    <span class="error">{{ form_errors(form.description) }}</span>

	    <label for="lead_import_file" class="label required">Plik XML</label>
	    {{ form_widget(form.file) }}
	    <span class="error">{{ form_errors(form.file) }}</span>

	    <button type="submit" name="submit" class="ok">Przejdź do kroku 2</button>

	{{ form_end(form) }}

{% endblock %}
