{% extends 'base.html.twig' %}

{% block body %}

	<h1>Importowanie listy mailingowej - Krok 2</h1>

	{{ form_start(form, {'method': 'post', 'attr': {'class': 'import_stage2'}, 'action': path('import_stage2', {"id": LeadImportId })}) }}

		<fieldset class="labels_box">
			<legend for="form_labels">Etykiety</legend>
			<span class="error">{{ form_errors(form.labels) }}</span>
			{{ form_widget(form.labels) }}

			<input type="hidden" value="{{ default_labels }}" id="default_labels" />

			<div class="labels_inner">
				<div class="label_box" alt="0">
					Nazwa: <input type="text" name="form[labels][0][name]" required="required">
					Etykieta: <input type="text" name="form[labels][0][label]" required="required" readonly="readonly">
					Przykład danych: <input type="text" readonly="readonly">
				</div>
			</div>
			{# <button class="ok addLabel">Dodaj Etykietę</button> #}
		</fieldset>

	    <button type="submit" name="submit" class="ok">Zatwierdź</button>

	{{ form_end(form) }}

{% endblock %}
