{% block subject %}Import Raport{% endblock %}
{% block body_text %}{% endblock %}
{% block body_html %}

	<p>
		Niestety poniższe rekordy wymagają korekty - nie zostały dodane:
	</p>

	{% for lead in bad_leads %}
		<p>{{ lead.email }}</p>
	{% endfor %}

{% endblock %}
